@font-face {
    font-family: 'Lexend';
    src: url('lexend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    font-family: "Lexend", Arial, sans-serif;
    background: #e7e7e7;
    color: #222;
}

header {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    top: 0;
    gap: 20px;
    z-index: 10;
    margin-bottom: -50px;
}

header h1 {
    font-size: 25px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #111, #1e1e1e);
    padding: 20px;
    border-radius: 50px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
}

.item {
    text-align: center;
    transition: 0.3s;
    background: linear-gradient(135deg, #111, #1e1e1e);
    padding: 20px;
    border-radius: 50px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item:hover {
    transform: translateY(-5px);
}

header h1:hover {
    transform: scale(105%)
}

main {
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.section {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 5px 0px #000000;
    border: 3px solid #000;
}

.section.alt {
    background: #2c2c2c;
    color: #fff;
    box-shadow: 0 5px 0px #000;
    border: 3px solid #000;
}

.section.alt h2 {
    color: #fff;
}

.section.alt .card {
    background-color: #2c2c2c;
    color: #fff;
    box-shadow: 0 5px 0px #000;
    border: 3px solid #000;
}

.section.alt h3 {
    color: #fff;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #111;
}

.section p {
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 1.7;
}

.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 0px #000;
    border: 3px solid #000;
}

.card h3 {
    margin-bottom: 10px;
    color: #333;
}

.card ul {
    margin-left: 20px;
    line-height: 1.8;
}

.cards-wide {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.wide {
    flex: 1;
    min-width: 280px;
    background: #fff;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
    transition: transform 0.2s;
    box-shadow: 0 5px 0px #000;
    border: 3px solid #000;
}

.card:hover, .wide:hover {
    transform: translateY(-6px);
}

footer {
    background: #111;
    color: #ccc;
    text-align: center;
    padding: 25px;
    margin-top: 60px;
    font-size: 15px;
}

/* Responsividade */
@media (max-width: 800px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        padding: 40px 5%;
    }
}